#google_translate_element {
  display: block !important;
  top: 0px;
}

.goog-te-combo {
  padding: px;
  border-radius: 4px;
  font-size: 14px;
}

/* Top banner hide (safe) */
iframe.goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0px !important;
}
